body {
    margin: 0;
    padding: 0;
}

.my-box {
    height: 100px;
    background-color: blue;
}

.my-box div {
    height: 80px;
    margin-top: 10px;
}

.div-1 {
    background-color: red;
}

.div-2 {
    background-color: yellow;
}

.div-3 {
    background-color: green;
}